<div class="form-container">
  <form [formGroup]="formGroup" class="number-form">
    <label for="number">
      Please enter a number that you want to convert to
      {{ ConversionMode[modeSelected] }} [0 to 9999999999999999.99]
    </label>

    <input
      class="number-input"
      type="text"
      formControlName="number"
      placeholder="Eg: 1234.56"
      pattern="^\d+(\.\d{1,2})?$"
      (keyup)="onChange()"
      (input)="onChange()"
    />
    <mat-radio-group
      aria-label="Select mode"
      formControlName="mode"
      class="mode-radio-buttons"
      [(ngModel)]="modeSelected"
      (change)="onChange()"
    >
      <mat-radio-button value="0" [checked]="true">Currency</mat-radio-button>
      <mat-radio-button value="1">Words</mat-radio-button>
    </mat-radio-group>
  </form>
  @if( formGroup.get('number')?.invalid && formGroup.get('number')?.touched){
  <div class="error-text">Please enter a valid number</div>
  }
</div>
<div class="result-container">
  @if( interpretedString$| async; as result){
  <div class="result">{{ result.interpretedString }}</div>
  @if(error){
  <div class="error-text">{{ error }}</div>
  } }
</div>
