<form [formGroup]="formGroup" class="number-form">
  <label for="number">
    Please enter a number that you want to convert to words
  </label>

  <input
    class="number-input"
    type="number"
    formControlName="number"
    placeholder="Eg: 1234.56"
    (keyup)="onChange()"
  />
</form>
@if( formGroup.get('number')?.invalid && formGroup.get('number')?.touched){
<div class="error-text">Please enter a valid number</div>
} @if( interpretedString$| async; as result){
<div class="result">{{ result.interpretedString }}</div>
}
