:host {
  display: flex;
  flex-direction: column;

  height: 90vh;
  gap: 10px;
}

.error-text {
  color: red;
}

.number-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(74, 22, 22, 0.2);
  font-size: large;
  font-family: fantasy;
}

.number-input:hover {
  box-shadow: 4px 4px 16px 0 rgb(198, 162, 204);
}

.number-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {
  position: absolute;
  top: 42.5%;
  left: 32.5%;
}

.result-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
