/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );

  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+Ahom&display=swap");
}
